.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}
.iotex-logo {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: 20px;
}	

.banner-box {
  font-family: Arial;
  color: #fff;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  background-image: url($bg);
  /* background-image: url("../assets/bg.png"); */
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  background-color: #000000;
  padding: 24px;
}

.banner-box .x-content {
  margin-top: 12px;
  opacity: 0.8;

}

.goat-btn{
  margin-top: 24px;
  background-image: url($goat);
  /* background-image: url("../assets/goat.png"); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 35px;
  width: 145px;
}

.x-title {
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  color: #ffffff;
  /* background-image: linear-gradient(88deg, #77FE9E -7.44%, #4285F4 61.46%, #EC02D5 110.21%);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  */
}

.banner-box .banner-logo {
  float: left;
  width: 24%;
  text-align: center;
  padding-top: 27px;
}

.banner-box .banner-logo .logo-img {
  display: block;
  width: 200px;
  height: 100px;
  background-size: contain;
  margin: 0 auto;
}

.banner-box .section-right {
  float: left;
  padding-bottom: 20px;
  /* width: 75%; */
  padding-top: 28px;
}

.banner-box .section-right .x-content {
  font-size: 20px;
  color: #ffffff;
  padding: 10px 0;
  opacity: 0.8;
  font-weight: 400;
}

.banner-box .section-right .header-btn {
  display: inline-block;
  height: 37px;
  line-height: 37px;
  padding: 0 20px;
  /* background-color: #43c9ba;
       */
  border-radius: 8px;
  background: linear-gradient(88deg, #77FE9E -7.44%, #4285F4 61.46%, #EC02D5 110.21%);
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-weight: 700;

  cursor: pointer;
}

.banner-box .section-right .header-links {
  margin-top: 26px;
  font-size: 14px;
}

.banner-box .section-right .header-links a {
  text-decoration: none;
}

.banner-box .section-right .header-links ul {
  list-style: none;
  padding: 5px 0;
  margin: 0;
}

.banner-box .section-right .header-links ul li {
  display: inline;
  padding-right: 12px;
  line-height: 18px;
}

.banner-box .section-right .header-links .about-title {
  font-weight: 400;
  color: #fff;
  opacity: 0.5;
}

.banner-box .section-right .header-links .about-us .about-arrow {
  font-weight: 600;
  color: #fff;
}

.banner-box .section-right .header-links .about-us {
  width: 60%;
  float: left;
}

.banner-box .section-right .header-links .about-us a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.banner-box .section-right .header-links .about-us .about-q {
  display: inline-block;
  background-image: linear-gradient(88deg, #77FE9E -7.44%, #4285F4 61.46%, #EC02D5 110.21%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.banner-box .section-right .header-links .follow-us {
  float: left;
  width: 40%;
}

.banner-box .icon {
  float: left;
  margin: 5px 10px 5px 0;
  width: 20px;
  height: 20px;
}

.banner-box .icon-medium {
  /* // background-image: url($iconMediumMobile);  */
  background-size: contain;
}

.banner-box .icon-reddit {
  background-image: url($iconRedditMobile);
  background-size: contain;
}

.banner-box .icon-telegram {
  background-image: url($iconTelegramMobile);
  background-size: contain;
}

.banner-box .icon-twitter {
  background-image: url($iconTwitterMobile);
  background-size: contain;
}

@media screen and (max-width: 992px) {
  .banner-box {
    background-position: left bottom;
  }

  .banner-box .icon {
    width: 40px;
    height: 40px;
  }

  .banner-box .banner-logo .logo-img {
    width: 160px;
    height: 90px;
  }

  /* .banner-box .section-right {
      width: 75%; } */
  .banner-box .section-right .x-title {
    font-size: 30px;
    line-height: 30px;
  }

  .banner-box .section-right .x-content {
    font-size: 20px;
  }

  .banner-box .section-right .header-links .about-us {
    width: 50%;
  }

  .banner-box .section-right .header-links .follow-us {
    width: 50%;
  }

  .banner-box .section-right .header-links ul li {
    display: inline-block;
    width: 120px;
    line-height: 22px;
  }

  .banner-box .icon-medium {
    /* background-image: url($iconMedium40);  */
    background-size: contain;
  }

  .banner-box .icon-reddit {
    background-image: url($iconReddit40);
    background-size: contain;
  }

  .banner-box .icon-telegram {
    background-image: url($iconTelegram40);
    background-size: contain;
  }

  .banner-box .icon-twitter {
    background-image: url($iconTwitter40);
    background-size: contain;
  }
}

@media screen and (max-width: 600px) {

  .x-title {
    font-size: 18px;
    line-height: 18px;
  }

  .x-content {
    font-size: 16px;
  }


  .banner-box .banner-logo {
    width: 100%;
  }

  .banner-box .icon {
    width: 40px;
    height: 40px;
  }

  .banner-box .banner-logo .logo-img {
    width: 200px;
    height: 40px;
  }

  .banner-box .section-right {
    width: 100%;
    padding: 0 16px;
    padding-top: 24px
  }


  .banner-box .section-right .header-links .about-us {
    width: 50%;
  }

  .banner-box .section-right .header-links .follow-us {
    width: 50%;
  }

  .banner-box .section-right .header-links ul li {
    display: block;
    line-height: 22px;
  }

  .banner-box .icon-medium {
    /* // background-image: url($iconMedium40); */
    background-size: contain;
  }

  .banner-box .icon-reddit {
    background-image: url($iconReddit40);
    background-size: contain;
  }

  .banner-box .icon-telegram {
    background-image: url($iconTelegram40);
    background-size: contain;
  }

  .banner-box .icon-twitter {
    background-image: url($iconTwitter40);
    background-size: contain;
  }
}

/*# sourceMappingURL=common.css.map */
